@model MVCLearn.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomer</title>
</head>
<body>
    <div>
        @Model.Id <br/> 
        @Model.Name <br/>
        @Model.Salary <br/>
    </div>
</body>
</html>
